<nav>
    <a routerLink="/">
      <img src="assets/04.png" class="icon" />
    </a>
    <a routerLink="/Action">
      <img src="assets/03.png" class="icon" />
    </a>
    <a routerLink="/Children">
      <img src="assets/edu.png" width="50" height="50" class="icon" />
    </a>
    <a routerLink="/Drama">
      <img src="assets/romance.png" width="40px" height="40px" class="icon" />
    </a>
    <a routerLink="/Crime">
      <img src="assets/crime.png" width="40px" height="40px" class="icon" />
    </a>
    </nav>
<section>
    <header>
        <h1>My Blog</h1>
        <p class="description" >
            Publish your passions, your way!!
        </p>
        <a routerLink="/add" style="float: right;">
            <img src="assets/01.png" class="icon" />
        </a>
    </header>
    <router-outlet></router-outlet>
</section>
