<nav>
  <a (click)="getBlogItems('')">
    <img src="assets/04.png" class="icon" />
  </a>
  <a (click)="getBlogItems('Action')">
    <img src="assets/03.png" class="icon" />
  </a>
  <a (click)="getBlogItems('Educational')">
    <img src="assets/edu.png" width="50" height="50" class="icon" />
  </a>
  <a (click)="getBlogItems('Romance')" style = "margin-left:20px" >
    <img src="assets/romance.png" width="40px" height="40px" class="icon" />
  </a>
  </nav>
<header 
    [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
    <h2>{{category}}</h2>
    <div *ngIf="blogItems">{{ blogItems | categoryList }}</div>
</header>
<section>
  <mb-blog-item
    [ngClass]="{'medium-movies': blogItem.medium==='Movies', 'medium-series':blogItem.medium==='Series'}" 
    *ngFor="let blogItem of blogItems"
    [blogItem]="blogItem"
    (delete)="onBlogItemDelete($event)"></mb-blog-item>
</section>